---
layout: base.njk
hh: homepage header running here
hf: homepage footer running here
pagination:
  data: collections.stories
  size: 2
  reverse: true
  alias: posts
---


<h2>{{ hh }}</h2>

{% include "_list.njk" %}

<p>{{ hf }}</p>
