---
layout: base.njk
---

{% set previousPost = collections.stories | getPreviousCollectionItem(page) %}
{% set nextPost = collections.stories | getNextCollectionItem(page) %}

{% if previousPost %}Previous Blog Post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
{% if nextPost %}Next Blog Post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}

<h3>tags</h3>
<ul>
  {% for tag in tags %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <li><a href="{{ tagUrl | url }}">{{tag}}</a></li>
  {% endfor %}
</ul>
<hr>
{{ content | safe }}
